<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.putri.aplikasipendeteksigayabesar">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PendeteksiGayaBelajar"
        tools:targetApi="31">
        <activity
            android:name=".TestIndex1"
            android:exported="false" />
        <activity
            android:name=".DataHelper"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".TestResults"
            android:exported="false"
            android:label="@string/title_activity_hasiil_test" />
        <activity
            android:name=".TestIndex"
            android:exported="false" />
        <activity
            android:name=".ResultData"
            android:exported="false" />
        <activity
            android:name=".QuestionData"
            android:exported="false" />
        <activity
            android:name=".HelloAdmin"
            android:exported="false" />
        <activity
            android:name=".StartPage"
            android:exported="false" />
        <activity
            android:name=".LoginError"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>